

<!-- cONTENT GOES HERE -->
<ion-content>


    <div class="container"   align="center" style="padding-top: 10%; margin-left: auto;  margin-right: auto;">
      <h1 style="color: honeydew; font-size: 200%" ><strong>PROJECT EXTERNAL STUDENTS</strong></h1>
      <div style="padding-left: 70%;">
        <button class="pulse" style="padding-left: 15%; padding-right: 15%;background-color: #007B7C;"(click)="openAdd()">Add Student</button>
      </div>
            <!-- Table  search bar-->
            <div class="searchbox" >
              <button class="btn-menu"> 
                      <img src="https://img.icons8.com/cute-clipart/24/000000/top-menu.png">
                  </button>
                  <input id="search" type="text" placeholder="Search..." name="search" class="search" [(ngModel)]="searchText" #searchbar>
                <button  class="btn-search">
                    <img src="https://img.icons8.com/cotton/24/000000/search--v2.png">
                  </button>
              </div> <br>
       <!-- Table-->
      <table  style="width:123%">
     
        <thead>
          <tr>
            <th scope="col">  Project Name</th>
            <th scope="col"> 	Student Name</th>
            <th scope="col"> 	Student Surname</th>
            <th scope="col"> 	 	Training</th>
              <th scope="col">  Address</th>
              <th scope="col">   Email</th>
              <th scope="col">  Contact Number</th>
               <th scope="col"> </th>
             <th scope="col">actions </th>
             <th scope="col"> </th>
           
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of exStudents | filter:searchText" >
            <td data-th="Student Name">{{ x.ExternalStudentName }}</td>
            <td data-th="Student Name">{{ x.ExternalStudentName }}</td>
            <td data-th="Student Surname">{{ x.ExternalStudentSurname }}</td>
            <td data-th="Training">{{ x.Training }}</td>
            <td data-th="Address">{{ x.Address }}</td>
            <td data-th="Email">{{ x.Email }}</td>
            <td data-th="Contact Number">{{ x.ContactNumber }}</td>
             <td data-label="Action"><button class="fill" (click)="EditModal(x.id)">Edit</button></td>
             <td data-label="Action"><button class="fill" (click)="DeleteStudent(x)">Remove</button></td>
             <td data-label="Action"><button class="fill" (click)="gen(x.id)">Generate Certificate</button></td>
         </tr>         
        </tbody>
      </table>
    </div>
    <br/><br/><br/>
    <ion-footer>
    
    </ion-footer>
  

    

</ion-content>
