    <!-- navigation Bar  -->
    <header>
    <nav role="navigation">
      <ul>
        <li>
          <a (click)="Show(1)" >
            <div align="center">
             HOME
              
            </div>
          </a>
        </li>
      <!--STUDENT Here --->
        <li>
          <a class="menu-item">
            <div>
              STUDENT
            
            </div>
          </a><div>
            <ul>
              <li><a  (click)="Show()">STUDENT GROUPS</a></li>
              <li><a (click)="Show()" >STUDENT GROUP ACCOUNT</a></li>
              <li><a (click)="Show()" >STUDENT DOCUMENT</a></li>
  
            </ul>
          </div>
        </li>
      <!--COMMUNITY PARTNER Here --->
        <li>
          <a (click)="Show()" class="menu-item">
            <div>
              COMMUNITY PARTNER
              
            </div>
          </a><div>
            <ul>
              <li><a  (click)="Show()">APPLICATIONS</a></li>
              <li><a (click)="Show()" >EXISTING COMMUNITY PARTNERS</a></li>
            </ul>
          </div>
        </li>
    <!--DRIVER  Here --->
        <li>
          <a (click)="Show()" class="menu-item">
            <div>
              DRIVER
              
            </div>
          </a><div>
            <ul>
              <li><a routerLink="driver-applications">Applications</a></li>
              <li><a routerLink="exisiting-drivers" >Existing Drivers </a></li>
            </ul>
          </div>
        </li>
  
        <!-- Import Information Tab --->
        <li>
          <a  class="menu-item">
            <div>
              IMPORT <br /> INFORMATION
             
            </div>
          </a>
        </li>
  <!--Tool management Tab --->
        <li>
          <a (click)="Show()" class="menu-item">
            <div>
              TOOLS
             
            </div>
          </a><div>
            <ul>
              <li><a  [routerLink]="['ToolRequest']">ToolRequest</a></li>
              <li><a (click)="Show()" >Available trips </a></li>
            </ul>
          </div>
        </li>
  <!--Finance management Tab --->
        <li>
          <a (click)="Show()" class="menu-item">
            <div>
              FINANCE
              
            
            </div>
          </a><div>
            <ul>
              <li><a (click)="Show()" >SET REMINDER</a></li>
              <li><a  [routerLink]="['ClaimForm']">CLAIM FORM</a></li>
              <li><a (click)="Show()" >FINANCIAL DOCUMENTS </a></li>
            </ul>
          </div>
        </li>
        <!--NEWSFEED management Tab --->
        <li>
          <a (click)="Show()" class="menu-item">
            <div>
              NEWSFEED
            
            </div>
          </a>
        </li>
         <!--BACKUPSYSTEM management Tab --->
         <li>
          <a   [routerLink]='["../students"]'  class="menu-item">
            <div>
              BACKUP SYSTEM
            
            </div>
          </a>
        </li>
           <!--Admin management Tab --->
           <li>
            <a (click)="Show()" class="menu-item">
              <div>
               ADMINISTRATION  <br />
               MANAGEMENT
              
              </div>
            </a>
            <div>
              <ul>
                <li><a  [routerLink]="['ClaimForm']" > ADMINISTRATOR</a></li>
                <li><a  [routerLink]="['ClaimForm']">ACCESS ROLE</a></li>
   
              </ul>
            </div>
          </li>
        
        
        <li>
          <a href="#" >
            <div style="background-color: #007B7C;">
              <ion-button expand="block" fill="clear" shape="round" color="warning">
               Log Out
              </ion-button>
           
         </div>
          </a>
        </li>
        
      </ul>
    </nav>
  </header>
    <!-- end of navigation Bar -->