

<!-- cONTENT GOES HERE -->
<ion-content>

    <!-- end of navigation Bar -->

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>

        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
      
      </ion-card-content>
    </ion-card>
    <div align="center">
      
    </div>
    
    <div align="center" style="padding-top: 6%;">
      <h1 class="text">NEWS FEED</h1>
      <app-news-feed></app-news-feed>  
    </div>
    <div style="padding-top: 10%;">
  
    </div>
</ion-content>
