<br>
<ion-content padding style="background-color: #007B7C;">




<div class="wrapper fadeInDown" style="border: medium; background-color: #007B7C;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">GENERATE LOGIN CREDETIALS</h2>
   

    <!-- Icon -->
    <div class="fadeIn first">
      
      <img src="https://drive.google.com/uc?export=download&id=19KQD94mApiT7z9RCKjwzKrQcfCynDYEI" alt="Avatar" style="width:200px;border-radius: 50%;">
    </div>

    <!-- Login Form -->
    <form #form="ngForm" (submit)="onSubmit(StudentNo.value)">
      <ion-text *ngIf="this.ErrorMessage" color="danger"></ion-text>
      <input type="email" id="username"  class="fadeIn second" name="login"  ngModel  #StudentNo="ngModel"  placeholder="UP STUDENT NUMBER">
    
      <input type="submit" class="fadeIn fourth" value="GENERATE">
    </form>
    <input type="submit" class="fadeIn fourth" style="background-color: goldenrod;" routerLink="/login" value="Cancel">
  </div>
</div>

</ion-content>

