
<br/>
<br/>
<h2 > <strong> Current Trips Scheduled</strong></h2>
<table class="rwd-table">
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th>Time</th>
    <th>Description</th>
    <th >&nbsp;	&nbsp;&nbsp;	&nbsp;&nbsp;	&nbsp;&nbsp;	&nbsp;&nbsp;	&nbsp;Action</th>
  </tr>
  <tr>
    <td data-th="Date">13/06/2021</td>
    <td data-th="Location">Mpumalanga,2324</td>
    <td data-th="Time">12:00</td>
    <td data-th="Description">Clean the farm</td>
     <td data-th="Action"><button class="button button--secondary-black" (click)="presentAlertPrompt()">
      <div class="button">
        <span class="button__mask"></span>
        <span class="button__text">Rechadule Trip</span>
        <span class="button__text button__text--bis">Rechadule Trip</span>
      </div>
     </button></td>
  </tr>
 <tr>
    <td data-th="Date">13/06/2021</td>
    <td data-th="Location">Mpumalanga,2324</td>
    <td data-th="Time">12:00</td>
    <td data-th="Description">Clean the farm</td>
     <td data-th="Action"> <button class="button button--secondary-black">
      <div class="button">
        <span class="button__mask"></span>
        <span class="button__text">Rechadule Trip</span>
        <span class="button__text button__text--bis">Rechadule Trip</span>
      </div>
     </button></td>
  </tr>
  <tr>
    <td data-th="Date">13/06/2021</td>
    <td data-th="Location">Mpumalanga,2324</td>
    <td data-th="Time">12:00</td>
    <td data-th="Description">Clean the farm</td>
     <td data-th="Action"><button class="button button--secondary-black">
      <div class="button">
        <span class="button__mask"></span>
        <span class="button__text">Rechadule Trip</span>
        <span class="button__text button__text--bis">Rechadule Trip</span>
      </div>
     </button></td>
  </tr>
 
</table>