

<ion-content>
  
<!---START-->
<h1 style="color: honeydew; font-size: 200%; padding-top: 10%;"   align="center"><strong> MAINTAIN YOUR SYSTEM</strong></h1>

<div align="center">


 <div class="checkout" style="width: 50%; " >
   <div class="checkout__delivery-address"    align="center">
     <h3 class="checkout__subtitle" style="color: #007B7C;">BACKUP JCP SYSTEM</h3> 
 
<br/><br/><br/><br/>

       <button style="background-color: #007B7C;" >BACK SYSTEM NOW</button>
 </div>
   </div>
 </div>
 
 <div align="center" style="padding-top: 5%;padding-bottom: 5%; ">


    <!--Exisiting drivers table -->
    <h3 class="checkout__subtitle" style="color: white;"><strong> EXISTIING BACKUP </strong></h3> 
 <table class="rwd-table">
 
   <tr>
     <th>Backup Date</th>
     <th>File Name</th>
     <th >&nbsp; &nbsp; &nbsp; &nbsp;Action</th>
   </tr>
   <tr>
     <td data-th="Date">2/09/2020</td>
     <td data-th="Filename">FileBackup</td>
      <td data-th="Action"> <button class="slide" >RESTORE</button>
      </td>
      <td> <button class="slide" ><ion-icon name="trash" style="size: 20%;"></ion-icon></button></td>
   </tr>
   <tr>
    <td data-th="Date">2/09/2020</td>
    <td data-th="Filename">FileBackup</td>
     <td data-th="Action"> <button class="slide" >RESTORE</button>
     </td>
     <td> <button class="slide" ><ion-icon name="trash" style="size: 20%;"></ion-icon></button></td>
   </tr>
  
 </table>
 </div>
 
 









<!-- END  -->


</ion-content>
