<br>
<ion-content padding style="background-color: #007B7C;">




<div class="wrapper fadeInDown" style="border: medium; background-color: #007B7C;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">RESET YOUR PASSWORD</h2>
   

    <!-- Icon -->
    <div class="fadeIn first">
      
      <img src="https://drive.google.com/uc?export=download&id=19KQD94mApiT7z9RCKjwzKrQcfCynDYEI" alt="Avatar" style="width:200px;border-radius: 50%;">
    </div>
    <div *ngIf="isUserError" class="alert alert-danger">
      User Does not Exist if Check Correct password/Email
   </div>
    <!-- FORGOT Form -->
    <form [formGroup]="form" (submit)="onSubmit()">
      <input type="email" id="username"  class="fadeIn second" name="username"   formControlName="Email" placeholder="Email">
            <div div *ngIf="Email.touched && Email.invalid" class="alert alert-danger">Email required</div>
      <input type="password" id="username"  class="fadeIn second"  formControlName="Password" name="OldPassword" placeholder="Password">
            <div *ngIf="Password.touched && Password.invalid" class="alert alert-danger">
              <div *ngIf="Password.errors.required">
                  Old password is required.
              </div>
    
          </div>
      <input type="password" id="username"  class="fadeIn second"  formControlName="NewPassword" name="NewPassword"  placeholder="New Password">
          <div *ngIf="NewPassword.touched && NewPassword.invalid" class="alert alert-danger">
            <div *ngIf="NewPassword.errors.required">New password is required.</div>
          </div>
      <input type="password" id="username"  class="fadeIn second" formControlName="ConfirmPassword" name="ConfirmPassword"  placeholder="Confirm password">
            <div *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid" class="alert alert-danger">
              <div *ngIf="ConfirmPassword.errors.required">Confirm password is required.</div>
           </div>
           <div *ngIf="ConfirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
              Passwords do not match.
           </div>

      <input type="submit" class="fadeIn fourth" value="RESET PASSWORD" [disabled]='form.invalid'>
     
    </form> 
    <input type="submit" class="fadeIn fourth" style="background-color: goldenrod;" routerLink="/login" value="Cancel">
  </div>
</div>

</ion-content>

