<br>
<ion-content padding style="background-color: #007B7C;">




<div class="wrapper fadeInDown" style="border: medium; background-color: #007B7C;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">FORGOT YOUR PASSWORD?</h2>
   

    <!-- Icon -->
    <div class="fadeIn first">
      
      <img src="https://drive.google.com/uc?export=download&id=19KQD94mApiT7z9RCKjwzKrQcfCynDYEI" alt="Avatar" style="width:200px;border-radius: 50%;">
    </div>

    <!-- FORGOT Form -->
    <form #form="ngForm" (submit)="onSubmit(email.value)">
      <div class="alert alert-danger" role="alert" *ngIf="isMessage">
        {{this.message}}
      </div>
      <input type="text" id="username"  class="fadeIn second" id="email" name='email' ngModel  #email="ngModel" name="login" placeholder="EMAIL ADDRESS" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
        <p *ngIf="email.errors?.required">Email is a required field!</p>
        <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
      </div>
      <input type="submit" class="fadeIn fourth" value="RESET PASSWORD" [disabled]="form.invalid">
    
      
    </form>
    <input type="submit" class="fadeIn fourth" style="background-color: goldenrod;" routerLink="/login" value="Cancel">
  </div>
</div>

</ion-content>

v