

<main class="cd-main-content">
  <div class="cd-fixed-bg cd-bg-1" align="center">
    <div>

    </div>
    <video width="1000" height="500" controls  style="align-content: center;">
      <source  src="https://drive.google.com/uc?export=download&id=1SRMuFTJFWEs4zQT_to4qmDEzpdPAffXd" type="video/mp4">
      <source src="https://drive.google.com/uc?export=download&id=1SRMuFTJFWEs4zQT_to4qmDEzpdPAffXd" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div> <!-- cd-fixed-bg -->

  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
      <p>
        The main objective of this module is the execution of a community service-related project aimed 
        at achieving a beneficial impact on a chosen section of society, preferably but not exclusively 
        by engagement with a section of society which is different from the student's own social background 
        </p>
        <p>
          .  This module also aims to develop an awareness of personal, social a
          nd cultural values as well as multidisciplinary and life skills, 
          such as communication, interpersonal and leadership skills.
      </p>
    </div> <!-- cd-container -->
  </div> <!-- cd-scrolling-bg -->

  <div class="cd-fixed-bg cd-bg-2">
    
    <h2>Maths and Science assistance for learners;</h2>
  </div> <!-- cd-fixed-bg -->

  <div class="cd-scrolling-bg cd-color-3">
    <div class="cd-container">
      <p>In the authors presentation of the code, the default setting for the height of both the fixed and scrolling backgrounds is 100%. That min height can be what ever you want. If you add more text, the container grows but will always fill the viewport to the degree that min-height is defined.</p>
      <p>I have chosen to reduce this value to something less than 100% because at 100%, upon initial page load, the user has no visual indication that there is anything below the fold. My settings for these values, contained in the classes .cd-fixed-bg and .cd-scrolling-bg are 75% and 50% respectively.</p>
      <p>I suppose you could ad ID's to the individual scrolling-bg's and have them at different sizes for different purposes but that's up to you.
      </p>
    </div> <!-- cd-container -->
  </div> <!-- cd-scrolling-bg -->

  <div class="cd-fixed-bg cd-bg-3">
    <h2>There I go again, leaning it over.</h2>
  </div> <!-- cd-fixed-bg -->

  <div class="cd-scrolling-bg cd-color-1">
    <div class="cd-container">
      <p>
        Originally I tried implementing just the code snippets they show on the site but that totally did not work. Finally I downloaded the source and realized that there was so much more to it than just the bit they showed on the blog page. So we continue to learn.
      </p>
    </div> <!-- cd-container -->
  </div> <!-- cd-scrolling-bg -->

  <div class="cd-fixed-bg cd-bg-4">
    <h2 style="padding-bottom: 26%;">Follow us</h2>
    <h2>
      
<div class="twitter button-big">
  <i class="fa fa-twitter"></i>
</div>
<div class="facebook button-big">
  <i class="fa fa-facebook"></i>
</div>





    </h2>
  </div> <!-- cd-fixed-bg -->
</main> <!-- cd-main-content -->