<div align="center"  >
  <div class="checkout"  style="height: 150%;" >


    <div class="checkout__delivery-address"  >

         <h3 class="checkout__subtitle">Enter Request the tool</h3> 
         <form [formGroup]="ToolSev.form" (ngSubmit)="Confirmation(this.ToolId)">
          <div class="form-group checkout__address-form-group">
            <div class="form-group__label">
              <label class="checkout__address-form-label label label--required" for="TD">Request Date :*</label>
              <input type="date" class="checkout__address-form-input input" id="RDD" placeholder="request Date" formControlName="RequestDate"   min='2020'>
        
            </div>           
         </div>   
         <div class="form-group checkout__address-form-group">
          <div class="form-group__label">
            <label class="checkout__address-form-label label label--required" for="TD">Return Date: *</label>
            <input type="date" class="checkout__address-form-input input" id="RD" placeholder="return Date"  formControlName="ReturnDate"  />
          >
            <ion-text color="danger" *ngIf="this.Message">{{this.Message}}</ion-text>
          </div>           
       </div>   
        
          
           <div class="form-group checkout__address-form-group" align="center">
                <div class="form-group__label">
                  <button class="checkout__total-button button button--primary" style="background-color: #007B7C;" type="submit">Request</button>
                  
                  
                </div>           
             </div> 
         </form>
  
      </div>
  </div>
</div>
