
<ion-content>
  <ion-card>
  <div class="checkout">
    <div class="step checkout__step" >&nbsp;	&nbsp;.</div>
    <h2 class="checkout__title"  >Community Partner Application</h2>
    <div class="checkout__delivery-address"  >
 
      <div class="checkout__address-form">      
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1"> Name *</label>
                 <input type="email" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder=" Name" disabled />
              </div>           
           </div>  
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Contact Person *</label>
                 <input type="text" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder="Contact Person" disabled />
              </div>           
           </div>  
       
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Email *</label>
                 <input type="text" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder=" Email" disabled />
              </div>           
           </div>  
    
              
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Physical Address *</label>
                 <input type="text" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder="Physical Address " disabled />
              </div>           
           </div>
         <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Postal Address*</label>
                 <input type="password" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder="Postal Address" disabled />
              </div>           
           </div> 
    
         <h3 class="checkout__subtitle">Project  details</h3> 
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Project Name *</label>
                 <input type="email" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder="Project Name" disabled />
              </div>           
           </div>  
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Contact person *</label>
                 <input type="email" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder="Contact person" disabled />
              </div>           
           </div> 
           <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Category*</label>
                 <input type="email" class="checkout__address-form-input input" id="exampleInputEmail1" placeholder="Category" required />
              </div>           
           </div>
           <div class="form-group checkout__address-form-group">
            <div class="form-group__label">
              <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">Description*</label>
               <textarea style="width: 50%;height: 100%;"></textarea>
            </div>           
         </div>

         <div class="form-group checkout__address-form-group">
          <div class="form-group__label">
            <label class="checkout__address-form-label label label--required" for="exampleInputEmail1">add project details attachment*</label>
            <input class="choose-file" type="file" id="choose-file" required>
            <label for="choose-file" class="upload-file"></label>
          </div>           
       </div>
        <div class="form-group checkout__address-form-group">
              <div class="form-group__label">
                <label class="checkout__address-form-label label label--required" for="exampleInputEmail1"></label>
                
              </div>           
           </div>  
         
      </div>
    </div>
   
  
    <div class="checkout__payment-tabs" ng-app="TabsApp" >
      
      <div class="step checkout__step checkout__step--payment">&nbsp;	&nbsp;.</div>
      <div class="checkout__total">
        <div class="checkout__total-header">
        </div>
        <button class="checkout__total-button button button--primary" style="background-color: #007B7C;" (click)="AddCP()" >Add Community Partner</button>
        <button class="checkout__total-button button button--primary" style="color: gold; background-color: red;">Cancel</button>
        
      </div>
  
    </div>
   
  
  </div>
</ion-card>
</ion-content>
