

<ion-content>


<!---START-->



 <div align="center" style="padding-top: 10%; ">
  <h1 style="color: honeydew; font-size: 200%;"   align="center"><strong> UPLOADED FINANCIAL DOCUMENTS</strong></h1>
    <!--financial documents  table -->
      <table class="rwd-table">
      
        <tr>
          <th>File Name</th>
          <th >&nbsp;Action</th>
        </tr>
        <tr >
          <td data-th="Date">proof.pdf</td>
            <td data-th="Action"> <button class="slide" >Send</button>
            </td>
            <td> <button class="slide" ><ion-icon name="trash" style="size: 20%;"></ion-icon></button></td>
        </tr>
        <tr>
          <td data-th="Date">group34.pd</td>
            <td data-th="Action"><button class="slide" >Send</button> 
              <td> <button class="slide" ><ion-icon name="trash" style="size: 20%;"></ion-icon></button></td>
        </tr>
        
      </table>
 </div>

<!-- END  -->


</ion-content>
