

<ion-content>
 
<!----START OF CONTENT-->




<table>
  <thead>
    <tr>
      <td></td>
      <th>Document</th>
      <th>Date </th>
      <th>Description</th>
      <th>Amount</th>
      <th >&nbsp;	&nbsp;&nbsp;	&nbsp;&nbsp;	&nbsp;&nbsp;Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Receipt  of Receipts">
      <th>Feature 1</th>
     
        <td data-th="Date">{{Receipt.Description}}</td>
        <td data-th="Location">{{Receipt.Date}}</td>
        <td data-label="D"><a href="{{Receipt.Url}}" > {{Receipt.Name}}</a> </td>
        <td data-th="Time">R300</td>
        <td data-th="Action"><button class="btn gray" ><a href="{{Receipt.Url}}" > Download</a> </button> </td>
     
    </tr>
  <tbody>
</table>
</ion-content>
