$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 1000px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
    font-size: medium;
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}


// presentational styling

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body {
  padding: 0 6em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #ffff;
  color: #007B7C;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 2em !important; 
    }
  }
  th, td:before {
    color: #007B7C      ;
  }

  
}
 ///// Alert funtion
 .alertCustomCss{
  background-color: white;
  max-height:1000px;  
  height:1000px;
  color: blue;
  button{
      color: blue;
  }
}


//Take button

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

$anim-text-offset: 1em;

body{
  font-family: 'Work Sans', sans-serif;
  background: #111;
  text-align: center;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button{
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #34495E;
  &__text{
    display: block;
    padding:1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    &:before{
      content: attr(title);
    }
    &--bis{
      display: block;
      position: absolute;
      top: 0; left:0; right: 0; bottom: 0;
      transform: translateX(-1 * $anim-text-offset);
      opacity: 0;
    }
  }
  &__mask{
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: yellow;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }  
}

.button:hover{
  opacity: 1;
  .button__text{
    animation: fx-text .3s ease-out;
    color:black;
    &--bis{
      animation: fx-text-bis .3s ease-out;
    }
  }    
  .button__mask{
    animation: fx-mask .3s ease-out;
    color:yellow;
  }    
}

.button:active{
  opacity: 1;
  background: white;
  color: inherit;
}



@keyframes fx-mask {
  0%{
    transform: translateX(-100%) rotate(45deg);
  }
  100%{
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0%{
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}