<br>
<ion-content padding style="background-color: #007B7C;">




<div class="wrapper fadeInDown" style="border: medium; background-color: #007B7C;">
  <div id="formContent">
    
    <!-- Tabs Titles -->
    <div id="container" align="center">
      <h1 style="color: darkcyan;">WELCOME TO JCP</h1>
      <img src="https://drive.google.com/uc?export=download&id=19KQD94mApiT7z9RCKjwzKrQcfCynDYEI" alt="Avatar" style="width:200px;border-radius: 50%;">
    </div>

   
   <br>

    <!-- Login Form -->
    <form>
      <input type="submit" class="fadeIn fourth" routerLink="./driver-application" value="Apply to be a Driver">
      <input type="submit" class="fadeIn fourth" value="Apply to be a Community Partner" routerLink="./cp-application">

    </form>

    <!-- Remind Passowrd -->    <input type="submit" class="fadeIn fourth" style="background-color: goldenrod;" routerLink="/login" value="Cancel">

  </div>
</div>

</ion-content>

